@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Sora";
    src: url("../assets/fonts/Sora/Sora-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

:root {
    /* font */
    --font-sora: "Sora", sans-serif;
    --font-manrope: "Manrope", sans-serif;
    /* colors */
    --gold: #F2B95A;
    /* border */
    --border-rs-c: 20px;
}

html[data-theme="dark"] {
    --gold: #F2B95A;
}